
.ipynb_checkpoints/features_eda-checkpoint.ipynb
.ipynb_checkpoints/utils-checkpoint.py
__pycache__/utils.cpython-310.pyc
.ipynb_checkpoints/numerai_data-checkpoint.ipynb
data/features.json
.ipynb_checkpoints/download_data-checkpoint.ipynb
.ipynb_checkpoints/base_model-checkpoint.ipynb
__pycache__/utils.cpython-39.pyc
.DS_Store
*.csv
*.parquet
*.pyc
.ipynb_checkpoints/eval_utils-checkpoint.py
.ipynb_checkpoints/model_foxhound_v0-checkpoint.ipynb
